<h1>Disabled elements</h1>

<section style="background-color: grey; height: 150px">
  <h2>Click to disable it</h2>
  <button type="button" mat-raised-button color="primary" [disabled]="disabled">
    Primary ({{ disabled }})
  </button>
  <button
    type="button"
    mat-raised-button
    color="warn"
    (click)="disabled = !disabled"
  >
    Click to {{ disabled ? "enable" : "disable" }}
  </button>
</section>
<section style="background-color: purple; height: 150px">
  <h2>Is disabled with directive and roles</h2>
  <button
    type="button"
    #btnDisabled
    mat-raised-button
    color="primary"
    authorizeOnly
    [roles]="roles"
  >
    Is disabled ({{ btnDisabled.disabled }})
  </button>
</section>
<section style="height: 150px">
  <h2>Is disabled with directive and roles</h2>
  <input matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker authorizeOnly [roles]="roles" #picker></mat-datepicker>
</section>
<section style="height: 150px">
  <h2>Is disabled with directive and roles</h2>
  <div authorizeOnly [roles]="roles">
    <label for="check">Check</label>
    <input type="checkbox" name="check"  />
    <!-- <input type="checkbox" name="check" authorizeOnly [roles]="roles" /> -->
  </div>
</section>
