<button (click)="fieldValidation = !fieldValidation">
  {{ fieldValidation ? "Disable" : "Enable" }} field validation
</button>
@if (model$ | async; as model) {
  <form
    validationId="sample-data"
    (ngSubmit)="onSubmit($any(form))"
    #form="ngForm"
    [validateOnFieldChanges]="fieldValidation"
    >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        name="name"
        placeholder="Fill in your name"
        [(ngModel)]="model.name"
        #name="ngModel"
        />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email - disabled ({{ model.sendEmail }})</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [(ngModel)]="model.email"
        #email="ngModel"
        [disabled]="model.sendEmail"
        />
    </mat-form-field>
    <mat-label>sendEmail</mat-label>
    <mat-checkbox
      [(ngModel)]="model.sendEmail"
      name="sendEmail"
      #sendEmail="ngModel"
    ></mat-checkbox>
    <input type="submit" value="Submit" />
  </form>
  <fieldset>
    <label for=""> Name errors:</label>
    <pre>
      {{ name.errors | json }}
      </pre
      >
      <label for=""> email errors:</label>
      <pre>
        {{ email.errors | json }}
        </pre
        >
        <label for=""> sendEmail errors:</label>
        <pre>
          value: {{ model.sendEmail | json }}
          errors: {{ sendEmail.errors | json }}
          </pre
          >
        </fieldset>
      }
